@(javascripts: Seq[String]) =>
<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Modern Web Template</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Modern Web Template</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12" ng-view></div>
    </div>

</div>

<footer>
    <hr/>
    <div>
        <span>&copy; YourProjectName.com 2015</span>
        </div>
    <div>
        <span app-version></span>
    </div>
</footer>

</body>

<script src='@routes.Assets.versioned("lib/angularjs/angular.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("lib/angularjs/angular-route.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>

<!-- Coffee script compiled resources (generated) -->
@for(script <- javascripts) {
  <script src='@routes.Assets.versioned(script)' type="text/javascript"></script>
}
</html>